USE [QLKS_PT]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MaCN] [varchar](50) NOT NULL,
	[TenCN] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SĐT] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETCHUCNANG]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCHUCNANG](
	[maPQ] [varchar](20) NOT NULL,
	[maChucNang] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CHITIETCHUCNANG] PRIMARY KEY CLUSTERED 
(
	[maPQ] ASC,
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUE]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUE](
	[maCTT] [varchar](20) NOT NULL,
	[maKH] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
	[ngayLapPhieu] [datetime] NULL,
	[tienDatCoc] [int] NULL,
	[tinhTrangXuLy] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUEDICHVU]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUEDICHVU](
	[maCTT] [varchar](20) NOT NULL,
	[maDV] [varchar](20) NOT NULL,
	[ngaySuDung] [date] NOT NULL,
	[SoLuong] [int] NULL,
	[giaDV] [int] NULL,
 CONSTRAINT [PK_CHITIETHUEDICHVU] PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC,
	[maDV] ASC,
	[ngaySuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUEPHONG]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUEPHONG](
	[maCTT] [varchar](20) NOT NULL,
	[maP] [varchar](20) NOT NULL,
	[ngayThue] [datetime] NOT NULL,
	[ngayTra] [datetime] NULL,
	[ngayCheckOut] [datetime] NULL,
	[loaiHinhThue] [int] NULL,
	[giaThue] [int] NULL,
	[tinhTrang] [int] NULL,
 CONSTRAINT [PK_CHITIETTHUEPHONG] PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC,
	[maP] ASC,
	[ngayThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTIENICH]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTIENICH](
	[maP] [varchar](20) NOT NULL,
	[maTI] [varchar](20) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETTIENICH] PRIMARY KEY CLUSTERED 
(
	[maP] ASC,
	[maTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[maChucNang] [varchar](20) NOT NULL,
	[tenChucNang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[maDV] [varchar](20) NOT NULL,
	[tenDV] [nvarchar](100) NULL,
	[loaiDV] [nvarchar](128) NULL,
	[giaDV] [int] NULL,
	[hinhAnh] [nvarchar](max) NOT NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[maHD] [varchar](20) NOT NULL,
	[maCTT] [varchar](20) NULL,
	[giamGia] [int] NULL,
	[phuThu] [int] NULL,
	[ngayThanhToan] [datetime] NULL,
	[phuongThucThanhToan] [smallint] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[maKH] [varchar](20) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[CMND] [varchar](20) NULL,
	[gioiTinh] [smallint] NULL,
	[sDT] [varchar](20) NULL,
	[queQuan] [nvarchar](100) NULL,
	[quocTich] [nvarchar](100) NULL,
	[ngaySinh] [date] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[maNV] [varchar](20) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[gioiTinh] [smallint] NULL,
	[soNgayPhep] [smallint] NULL,
	[chucVu] [smallint] NULL,
	[ngaySinh] [date] NULL,
	[ngayVaoLam] [date] NULL,
	[email] [varchar](100) NULL,
	[luong1Ngay] [int] NULL,
	[xuLy] [int] NULL,
	[MaCN] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[maPQ] [varchar](20) NOT NULL,
	[tenPQ] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[maP] [varchar](20) NOT NULL,
	[tenP] [nvarchar](20) NULL,
	[loaiP] [smallint] NULL,
	[giaP] [int] NULL,
	[chiTietLoaiP] [int] NULL,
	[tinhTrang] [int] NULL,
	[hienTrang] [int] NULL,
	[xuLy] [int] NULL,
	[MaCN] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[taiKhoan] [varchar](20) NOT NULL,
	[maNV] [varchar](20) NULL,
	[matKhau] [varchar](max) NULL,
	[tinhTrang] [int] NULL,
	[maPQ] [varchar](20) NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENICH]    Script Date: 4/9/2025 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENICH](
	[maTI] [varchar](20) NOT NULL,
	[tenTI] [nvarchar](30) NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MaCN], [TenCN], [DiaChi], [SĐT], [Email], [TinhTrang]) VALUES (N'CN_1', N'HÀ NỘI', N'11 P. Hàng Vôi, Lý Thái Tổ, Hoàn Kiếm, Hà Nội', N'0395762136', N'hanoi@gmail.com', 0)
INSERT [dbo].[CHINHANH] ([MaCN], [TenCN], [DiaChi], [SĐT], [Email], [TinhTrang]) VALUES (N'CN_2', N'HUẾ', N'129 Phường Phú Hội, thành phố Huế tỉnh, tỉnh Thừa Thiên Huế', N'0931256987', N'0931256987', 0)
INSERT [dbo].[CHINHANH] ([MaCN], [TenCN], [DiaChi], [SĐT], [Email], [TinhTrang]) VALUES (N'CN_3', N'TP HỒ CHÍ MINH', N'200 Nguyễn Bỉnh Khiêm, Bến Nghé, Quận 1.', N'0396485369', N'HoChiMinh@gmail.com', 0)
GO
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'1')
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'2')
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'3')
GO
INSERT [dbo].[CHITIETTHUE] ([maCTT], [maKH], [maNV], [ngayLapPhieu], [tienDatCoc], [tinhTrangXuLy], [xuLy]) VALUES (N'CTT02122400001', N'KH0021201000002', N'NV01711230001', CAST(N'2024-12-02T21:16:27.000' AS DateTime), 500000, 1, 1)
INSERT [dbo].[CHITIETTHUE] ([maCTT], [maKH], [maNV], [ngayLapPhieu], [tienDatCoc], [tinhTrangXuLy], [xuLy]) VALUES (N'CTT02122400002', N'KH1021201000003', N'NV01711230001', CAST(N'2024-12-02T21:32:25.000' AS DateTime), 100000, 1, 1)
INSERT [dbo].[CHITIETTHUE] ([maCTT], [maKH], [maNV], [ngayLapPhieu], [tienDatCoc], [tinhTrangXuLy], [xuLy]) VALUES (N'CTT02122400003', N'KH0021201000004', N'NV01711230001', CAST(N'2024-12-02T21:59:27.000' AS DateTime), 300000, 0, 0)
GO
INSERT [dbo].[CHITIETTHUEDICHVU] ([maCTT], [maDV], [ngaySuDung], [SoLuong], [giaDV]) VALUES (N'CTT02122400001', N'DV119240001', CAST(N'2024-12-02' AS Date), 1, 200000)
INSERT [dbo].[CHITIETTHUEDICHVU] ([maCTT], [maDV], [ngaySuDung], [SoLuong], [giaDV]) VALUES (N'CTT02122400002', N'DV119240001', CAST(N'2024-12-02' AS Date), 1, 200000)
GO
INSERT [dbo].[CHITIETTHUEPHONG] ([maCTT], [maP], [ngayThue], [ngayTra], [ngayCheckOut], [loaiHinhThue], [giaThue], [tinhTrang]) VALUES (N'CTT02122400001', N'P1404240001', CAST(N'2024-12-03T07:00:00.000' AS DateTime), CAST(N'2024-12-11T07:00:00.000' AS DateTime), CAST(N'2024-12-13T08:08:55.000' AS DateTime), 0, 800000, 2)
INSERT [dbo].[CHITIETTHUEPHONG] ([maCTT], [maP], [ngayThue], [ngayTra], [ngayCheckOut], [loaiHinhThue], [giaThue], [tinhTrang]) VALUES (N'CTT02122400003', N'P1404240003', CAST(N'2024-12-05T07:00:00.000' AS DateTime), CAST(N'2024-12-07T07:00:00.000' AS DateTime), NULL, 0, 600000, 0)
INSERT [dbo].[CHITIETTHUEPHONG] ([maCTT], [maP], [ngayThue], [ngayTra], [ngayCheckOut], [loaiHinhThue], [giaThue], [tinhTrang]) VALUES (N'CTT09042500001', N'P1404240001', CAST(N'2025-04-11T07:00:00.000' AS DateTime), CAST(N'2025-04-12T07:00:00.000' AS DateTime), CAST(N'2025-04-09T14:28:29.000' AS DateTime), 0, 100000, 2)
GO
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P031224004', N'TI1011230001', 1)
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P031224004', N'TI1011230002', 1)
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P031224004', N'TI1011230003', 1)
GO
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'1', N'Quản lý phòng')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'2', N'Quản lý dịch vụ')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'3', N'Quản lý khách hàng')
GO
INSERT [dbo].[HOADON] ([maHD], [maCTT], [giamGia], [phuThu], [ngayThanhToan], [phuongThucThanhToan], [xuLy]) VALUES (N'HD09042500001', N'CTT09042500001', 0, 0, CAST(N'2025-04-09T14:29:06.000' AS DateTime), 0, 0)
INSERT [dbo].[HOADON] ([maHD], [maCTT], [giamGia], [phuThu], [ngayThanhToan], [phuongThucThanhToan], [xuLy]) VALUES (N'HD13122400001', N'CTT02122400001', 0, 0, CAST(N'2024-12-13T08:10:23.000' AS DateTime), 0, 0)
INSERT [dbo].[HOADON] ([maHD], [maCTT], [giamGia], [phuThu], [ngayThanhToan], [phuongThucThanhToan], [xuLy]) VALUES (N'HD13122400002', N'CTT13122400001', 0, 0, CAST(N'2024-12-13T08:47:35.000' AS DateTime), 0, 0)
GO
INSERT [dbo].[KHACHHANG] ([maKH], [tenKH], [CMND], [gioiTinh], [sDT], [queQuan], [quocTich], [ngaySinh], [xuLy]) VALUES (N'KH0021201000002', N'Trần thị B', N'023604503369', 0, N'0346921365', N'f,f,ff,f', N'f', CAST(N'2001-12-02' AS Date), 0)
INSERT [dbo].[KHACHHANG] ([maKH], [tenKH], [CMND], [gioiTinh], [sDT], [queQuan], [quocTich], [ngaySinh], [xuLy]) VALUES (N'KH0021201000004', N'Trần Văn C', N'0365894523', 0, N'0354692135', N'j,j,j,j', N'n', CAST(N'2001-12-02' AS Date), 0)
INSERT [dbo].[KHACHHANG] ([maKH], [tenKH], [CMND], [gioiTinh], [sDT], [queQuan], [quocTich], [ngaySinh], [xuLy]) VALUES (N'KH0090400000006', N'Nguyễn Văn A', N'052369452236', 0, N'0345129863', N'tttt,ttt,tttt,ttttt', N'tttt', CAST(N'2000-04-09' AS Date), 0)
GO
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [chucVu], [ngaySinh], [ngayVaoLam], [email], [luong1Ngay], [xuLy], [MaCN]) VALUES (N'NV00904250006', N'Trần Văn C', 0, 0, 2, CAST(N'2000-11-11' AS Date), CAST(N'2025-04-09' AS Date), N'C@gmail.com', 0, 1, N'CN_1')
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [chucVu], [ngaySinh], [ngayVaoLam], [email], [luong1Ngay], [xuLy], [MaCN]) VALUES (N'NV00904250007', N'f', 0, 0, 0, CAST(N'2000-11-11' AS Date), CAST(N'2025-04-09' AS Date), N'h@gmail.com', 0, 0, N'CN_2')
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [chucVu], [ngaySinh], [ngayVaoLam], [email], [luong1Ngay], [xuLy], [MaCN]) VALUES (N'NV01711230001', N'Nguyễn Văn An', 0, 3, 0, CAST(N'2000-09-09' AS Date), CAST(N'2023-11-17' AS Date), N'An@gmail.com', 200000, 0, N'CN_1')
GO
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'0', N'Admin')
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'1', N'Manager')
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'2', N'Receptionist')
GO
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy], [MaCN]) VALUES (N'P031224004', N'Phòng đôi', 0, 300000, 1, 0, 0, 0, N'CN_1')
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy], [MaCN]) VALUES (N'P090425005', N'Phong đơn', 0, 500000, 0, 0, 0, 0, N'CN_2')
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy], [MaCN]) VALUES (N'P1404240001', N'Phòng Đơn 1', 1, 100000, 0, 2, 0, 0, N'CN_1')
GO
INSERT [dbo].[TAIKHOAN] ([taiKhoan], [maNV], [matKhau], [tinhTrang], [maPQ], [xuLy]) VALUES (N'admin', N'NV01711230001', N'e10adc3949ba59abbe56e057f20f883e', 0, N'0', 0)
INSERT [dbo].[TAIKHOAN] ([taiKhoan], [maNV], [matKhau], [tinhTrang], [maPQ], [xuLy]) VALUES (N'letan', N'NV01711240008', N'e10adc3949ba59abbe56e057f20f883e', 0, N'2', 0)
INSERT [dbo].[TAIKHOAN] ([taiKhoan], [maNV], [matKhau], [tinhTrang], [maPQ], [xuLy]) VALUES (N'quanly', N'NV01711240003', N'e10adc3949ba59abbe56e057f20f883e', 0, N'1', 0)
GO
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI0804240003', N'Ghế tình yêu', 1)
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI1011230001', N'Tivi siêu mỏng', 0)
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI1011230002', N'Tủ lạnh mini', 0)
GO
ALTER TABLE [dbo].[CHITIETCHUCNANG]  WITH CHECK ADD FOREIGN KEY([maChucNang])
REFERENCES [dbo].[CHUCNANG] ([maChucNang])
GO
ALTER TABLE [dbo].[CHITIETCHUCNANG]  WITH CHECK ADD FOREIGN KEY([maPQ])
REFERENCES [dbo].[PHANQUYEN] ([maPQ])
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACHHANG] ([maKH])
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maDV])
REFERENCES [dbo].[DICHVU] ([maDV])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maP])
REFERENCES [dbo].[PHONG] ([maP])
GO
ALTER TABLE [dbo].[CHITIETTIENICH]  WITH CHECK ADD FOREIGN KEY([maTI])
REFERENCES [dbo].[TIENICH] ([maTI])
GO
ALTER TABLE [dbo].[CHITIETTIENICH]  WITH CHECK ADD FOREIGN KEY([maP])
REFERENCES [dbo].[PHONG] ([maP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHINHANH] ([MaCN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CHINHANH] FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHINHANH] ([MaCN])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_CHINHANH]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([maPQ])
REFERENCES [dbo].[PHANQUYEN] ([maPQ])
GO
